@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AvenirLTPBook";
  src: url("../public/fonts/AvenirLTProBook.otf");
}
@font-face {
  font-family: "AvenirLTProHeavy";
  src: url("../public/fonts/AvenirLTProHeavy.otf");
}
@font-face {
  font-family: "AvenirLTPMedium";
  src: url("../public/fonts/AvenirLTProMedium.otf");
}
@font-face {
  font-family: "AvenirLTPBlack";
  src: url("../public/fonts/AvenirLTProBlack.otf");
}

html {
  -webkit-tap-highlight-color: transparent;
}
